@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.shadow{
  box-shadow: 2px 2px 2px gray, -2px -2px 2px gray;
}

/* for displaying the placholder text */
#inputID::placeholder {
  color: rgb(91, 90, 90);
  opacity: 1;
}

/* for removing the spinner of number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}